body {
    background-image: url("./hogwarts.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #141852;
    color: whitesmoke;
}

#blankFieldAlert {
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
}

form {
    background-color: rgba(24, 18, 97, 0.4);
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}

#instructions {
    color: white;
    /* background-color: rgba(49, 49, 59, .5);
    margin: 5px; */
}

.crest-image {
    height: 180px;
    margin: 8px;
}

.alert {
    width: 65%;
}

#studentEntry {
    padding: 1rem 2rem;
}

.housedStudents, .expelledStudents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #141852;
    border-radius: 10px;
}

.card-title {
    color: white;
}

h2 {
    color: white;
    margin-top: 15px;
}

hr {
    color: whitesmoke;
    height: 2px;
}

#filterButtons {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 2px 0 px;
}

#filterButtons > button {
    border-radius: 5px;
    margin: 2px;
}

.gryffindor {
    color:#9c1203;
}

.hufflepuff {
    color: #e3a000;
}

.slytherin {
    color: #033807;
}

.ravenclaw {
    color: #00165e;
}

#expelBtn {
    color: white;
}